# Configuration de l'application
PORT=3000
NODE_ENV=development

# Configuration MongoDB
MONGODB_URI=mongodb://admin:password123@localhost:27017/hexagonal_app?authSource=admin
MONGODB_DB_NAME=hexagonal_app

# Configuration Email (utilise Mailtrap pour les tests)
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=your_mailtrap_user
EMAIL_PASS=your_mailtrap_password
EMAIL_FROM=noreply@hexagonal-app.com

# Configuration pour les tests
TEST_MONGODB_URI=mongodb://admin:password123@localhost:27017/hexagonal_app_test?authSource=admin